.App {
  text-align: center;
  background-color: orange;
  background-image: url("https://resize.prod.docfr.doc-media.fr/r/502,335,force/img/var/doctissimo/storage/images/fr/www/sante/news/un-compose-present-dans-le-raisin-pourrait-renforcer-les-muscles-des-astronautes-qui-iront-sur-mars/7856020-1-fre-FR/Un-compose-present-dans-le-raisin-pourrait-renforcer-les-muscles-des-astronautes-qui-iront-sur-Mars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
